.article-content {
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
    font-size: 16px; 
  }
  
.article-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
.article-content iframe {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

  .modal-content-container {
    max-height: 680px;  
    overflow-y: auto;
    padding-right: 95px; /* 为滚动条预留空间 */
    margin-right: -105px; /* 抵消额外的padding，使滚动条移至右边缘 */
}
